section {
    display: grid;
    place-items: center;
}

.section-header {
    position: relative;
    text-align: center;
    font-weight: 900;
    padding-bottom: 25px;
    color: #fff;
}

.section-header:after {
    content: "";
    height: 3px;
    width: 200px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 100px);
    background: #fff;
}

.section-header span {
    display: block;
    font-size: 15px;
    font-weight: 300;
}

.testimonials {
    max-width: 1000px;
    padding: 0 15px 50px;
    margin: 0 auto 80px auto;
}

.single-item {
    color: #111;
    padding: 15px;
    margin: 50px 15px;
}

.profile {
    margin-bottom: 30px;
    text-align: center;
}

.img-area {
    margin: 0 15px 15px 15px;
}

.img-area img {
    height: 200px;
    width: 100%;
    border-radius: 50%;
    border: 7px solid blueviolet;
}

.content {
    font-size: 18px;
}

.content p {
    text-align: justify;
}

.content p span {
    font-size: 48px;
    margin-right: 20px;
    color: blueviolet;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: blueviolet;
}

.carousel-inner {
    margin-left: 40px;
}